.listaFilmes article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin: 15px;
  padding: 15px;
  border-radius: 5px;
  width: 100%;
}

.tituloFilmes {
  font-weight: bold;
  padding-bottom: 15px;
}

.imgFilmes {
  width: 100%;
}
.filme {
  width: 100%;
}
